<% # ========================================================================
   # Model.Data Unit Test
   # ========================================================================
%>
<% content_for('final') do %>

<script>
Model.server.preload(Model.FIXTURES) ;

Test.context("Model.Data",{

  "TODO: Add your own tests here": function() {
    true.shouldEqual(true);
  },

  "humanName": function(){
    T=this;
    var dwight=Model.Data.find(2);
    dwight.get('humanName').shouldEqual("Dwight Schrute");
  },

  "prettyName": function(){
    var dwight=Model.Data.find(2);
    dwight.get('prettyName').shouldEqual("Schrute, Dwight");
  }

}) ;

if (window.main && (appMain = main)) main = null ;

</script>

<% end %>
