<% # ========================================================================
   # Model.Task Unit Test
   # ========================================================================
%>
<% content_for('final') do %>

<script>
Model.server.preload(Model.FIXTURES) ;

Test.context("Model.Task",{

  "tasks property should work": function() {
    var guy=Model.Person.find(1);
    guy.get('tasks').length.shouldEqual(2);
  }

}) ;

if (window.main && (appMain = main)) main = null ;

</script>

<% end %>
