
body {
 position: absolute ;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 padding: 0;
 margin: 0;
 overflow: hidden ;
}

#main
{ 
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 40%;
  border: 3px solid gray;
  padding: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
 }

#scrolly
{ 
  margin-bottom: 10px;
 }

#save_button
{ 
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 75px;
 }

#cancel_button
{ 
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 75px;
 }

#buttons
{ 
  display: block;
  margin: 0px;
  margin-top: 5px;
  position:relative;
  height: 25px;
 }

#above_line
{ 
  position:relative;
  height: 25px;
 }

#new_button
{ 
  position:absolute;
  right: 0px;
  width: 75px;
 }

#human_label
{ 
  position:absolute;
  left: 0px;
 }