<% content_for('body') do %>

  <% view do %>
    <%= list_view :someData,
        :content_value_key => 'prettyName',
        :bind => { :content => 'Model.dataController.arrangedObjects' }
    %>

    <%= button_view :some_button, 
      :title => 'Show guid'
    %>
  <% end %>
<% end %>
